{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 160,
  "tabWidth": 3,
  "arrowParens": "always",
  "endOfLine": "lf"
}
