@import '../../styles/vars.scss';

.block {
   position: relative;
}

.block_header {
   display: flex;
   flex-direction: column;

   margin-bottom: 10px;
}

.block_info {
   display: flex;
   align-items: center;

   & > *:not(:last-child) {
      margin-right: 5px;
   }
}

.block_info_text {
   font-size: 14px;
   color: $grey;
}

.block_title {
   font-size: 28px;
   font-weight: 700;
   margin-bottom: 5px;

   width: 50%;

   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.block_message {
   font-size: 14px;
}
