@import '../../styles/vars.scss';

.block_header {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}

.block_date {
    font-size: 14px;
    color: $grey;
}

.block_title {
    font-size: 28px;
    font-weight: 700;
}

.block_message {
    font-size: 14px;
}
