@import './vars.scss';

.blocks {
    display: flex;
    flex-direction: column;

    width: 100%;

    & > *:not(:last-child) {
        margin-bottom: 25px;
    }
}

.other-text {
    font-size: 16px;
    font-weight: 700;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    color: inherit;

    background-color: darken($white, 20);

    border-radius: 5px;
    padding: 10px;

    font-size: 16px;

    transition: all 150ms linear;

    &:hover {
        background-color: darken($white, 30);
    }

    &--green {
        background-color: darken(rgb(90, 248, 90), 20);
        &:hover {
            background-color: darken(rgb(90, 248, 90), 30);
        }
    }

    &--red {
        background-color: darken(rgb(245, 120, 120), 20);
        &:hover {
            background-color: darken(rgb(245, 120, 120), 30);
        }
    }
}
