@import './nulls.scss';
@import './vars.scss';
@import './general.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
   font-size: 62.5%;

   overflow-x: hidden;
   width: 100%;
   position: fixed;

   font-family: 'Montserrat', sans-serif;
   color: $black;
}

body {
   background-color: $white;

   width: 100%;
   height: 100%;

   overflow-x: hidden;
   position: fixed;
}

._Container {
   height: 100%;
   max-width: $container;

   margin: 0 auto;
   padding: 0 1.5rem;
}

._Ibg {
   position: relative;

   img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
   }
}

#root {
   min-height: 100%;
   overflow: hidden;

   font-weight: 400;
   line-height: 1;
}
