.login {
   height: 100vh;
}

.login_body {
   height: 100%;

   display: flex;
   align-items: center;
   justify-content: center;
}

.login_form {
   display: flex;
   flex-direction: column;

   & > *:not(:last-child) {
      margin-bottom: 10px;
   }

   &_title {
      font-size: 28px;
      font-weight: 800;
   }
}
